$fontName: 'xm-icon';
$fontURL: 'https://at.alicdn.com/t/font_881332_pabjeeioqzd';
@font-face {
  font-family: $fontName;
  /* project id 881332 */
  src: url('#{$fontURL}.eot');
  src: url('#{$fontURL}.eot?#iefix') format('embedded-opentype'),
  url('#{$fontURL}.woff') format('woff'),
  url('#{$fontURL}.ttf') format('truetype'),
  url('#{$fontURL}.svg#iconfont') format('svg');
}

.#{$fontName} {
  font-style: normal;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:before {
    font-family: $fontName !important;
  }
  &.icon-more:before {
    content: '\e612';
  }
  &.icon-vip:before {
    content: '\e6d9';
  }
  &.icon-coupon:before {
    content: '\e6d8';
  }
  &.icon-share:before {
    content: '\e6da';
  }
  &.icon-refund:before {
    content: '\e6d7';
  }
  &.icon-close:before {
    content: '\e680';
  }
  &.icon-arrow-up:before {
    content: '\e6a2';
  }
  &.icon-arrow-down:before {
    content: '\e6a3';
  }
  &.icon-arrow-left:before {
    content: '\e65e';
  }
  &.icon-arrow-right:before {
    content: '\e65f';
  }
  &.icon-subscibe:before {
    content: '\e60f';
  }
  &.icon-w_pause:before {
    content: '\e6bc';
  }
  &.icon-w_play:before {
    content: '\e6bb';
  }
  &.icon-ic_play:before {
    content: '\e636';
  }
  &.icon-timelight:before {
    content: '\e6af';
  }
  &.icon-commentlight:before {
    content: '\e6a7';
  }
  &.icon-right:before {
    content: '\e6ea';
  }
  &.icon-left:before {
    content: '\e6e9';
  }
  &.icon-user:before {
    content: '\e6cd';
  }
  &.icon-data:before {
    content: '\e6cf';
  }
  &.icon-sound:before {
    content: '\e6d0';
  }
  &.icon-logo:before {
    content: '\e6d1';
  }
  &.icon-searchlight:before {
    content: '\e6b3';
  }
  &.icon-list_download:before {
    content: '\e60c';
  }
  &.icon-list_pause:before {
    content: '\e60b';
  }
  &.icon-list_play:before {
    content: '\e60a';
  }
  &.icon-pay:before {
    content: '\e602';
  }
}

h1 {
  color: khaki;
}
