version: 2

aliases:
  - &docker
    - image: circleci/openjdk:8-jdk-node-browsers

  - &restore_yarn_cache
    restore_cache:
      name: Restore node_modules cache
      keys:
        - v1-node-{{ arch }}-{{ .Branch }}-{{ checksum "yarn.lock" }}
        - v1-node-{{ arch }}-{{ .Branch }}-
        - v1-node-{{ arch }}-

  - &run_yarn
    run:
      name: Install Packages
      command: yarn start

jobs:
  build:
    docker: *docker
    steps:
      - checkout
      - run:
          name: Nodejs Version
          command: node --version
      - *restore_yarn_cache
      - *run_yarn
      - save_cache:
          name: Save node_modules cache
          key: v1-node-{{ arch }}-{{ .Branch }}-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
      - run: npm run prettier
      - run: npm run eslint
      - run: npm run build
      - run: npm run test:client
      - run: git branch
      - run:
          name: report coverage stats for non-PRs
          command: ./node_modules/.bin/codecov --token=$CI_CODECOV_TOKEN

workflows:
  version: 2

  stable:
    jobs:
      - build:
          filters:
            branches:
              ignore:
                - gh-pages
