@import './mixin.scss';

.h1{
  color:lightcoral;

}

h1{
  display: flex;
  span{
    color:red;    
  }
  > p{
    color: saddlebrown;
    div + span{
      color: salmon;
    }
  }
  +p {
    div > span{
      color: darkcyan;
    }
  }
}